<h1 class="titulo">Equipado {{tropa!.Nombre}}</h1>

        
<div class="columnobj" style="justify-content: center;">
  <div class="obj">
 
    <img [src]="geticon(tropa!.ARMA)" class="imagen-personaje"/>
    <button class="buttont" *ngIf="tropa!.ARMA!='noArma'">Quitar</button>
</div>  <p>{{tropa!.ARMA}}</p></div>
<div class="columnobj"style="justify-content: center;">
<div class="obj"> 
  <img [src]="geticon(tropa!.ARMADURA)" class="imagen-personaje"/>
  <button class="buttont" *ngIf="tropa!.ARMADURA!='noArmadura'">Quitar</button>
</div><p>{{tropa!.ARMADURA}}</p></div>
<p class="titulo">Inventario</p>
<div class="columnobj" >
  <div class="obj"*ngFor="let item of tropa!.ITEM1;let x=index">
  <img [src]="geticon(tropa!.ITEM1[x])" class="imagen-personaje"/>
</div>
</div>
<p class="titulo"> Skills</p>
<div class="columnobj" >
  <div class="obj"*ngFor="let item of tropa!.SKILL1;let x=index">
  <img [src]="geticon(tropa!.SKILL1[x])" class="imagen-personaje"/>

</div>
</div>
