<h1 class="titulo">Equipado {{tropa!.Nombre}}</h1>

        
<div class="columnobj" style="justify-content: center;">
  <div class="obj">
 
    <img [src]="geticon(tropa!.Arma)" class="imagen-personaje"/>
    <button class="buttont" *ngIf="tropa!.Arma!='noArma'" (click)="desequipar(tropa!.Arma,'Arma')">Quitar</button>
</div>  <p>{{tropa!.Arma}}</p></div>
<div class="columnobj"style="justify-content: center;">
<div class="obj"> 
  <img [src]="geticon(tropa!.Armadura)" class="imagen-personaje"/>
  <button class="buttont" *ngIf="tropa!.Armadura!='noArmadura'" (click)="desequipar(tropa!.Armadura,'Armadura')">Quitar</button>
</div><p>{{tropa!.Armadura}}</p></div>
<p class="titulo">Inventario</p>
<div class="columnobj" >
  <div class="obj"*ngFor="let item of tropa!.Item;let x=index">
  <img [src]="geticon(tropa!.Item[x])" class="imagen-personaje"/>
  <button class="buttont" (click)="desequipar(item,'Item')">Quitar</button>
</div>
</div>
<p class="titulo"> Skills</p>
<div class="columnobj" >
  <div class="obj"*ngFor="let item of tropa!.Skill;let x=index">
  <img [src]="geticon(tropa!.Skill[x])" class="imagen-personaje"/>

</div>
</div>
