
<div style="align-items: center;justify-content: center;display:block;">
<h1>{{jug[0]==email? jug[1]:jug[0] }}</h1>
<div >
    <input type="text" [(ngModel)]="msg" placeholder="escriba mensaje">
    <button (click)="chatsend()">Enviar</button>
</div>
    <div class="Subcards" style="overflow-y: scroll;margin-top: 40px;">
<div *ngFor="let item of chats">
    <p [style.text-align]="setalling(item.jug)">{{item.msg}}</p>
</div>

  

</div>

</div>

<button (click)="goback()" style="align-items: center;justify-content: center;">VOLVER</button>